node_modules/
# dependencies
/node_modules
**/node_modules

# env
.env
backend/.env
frontend/.env
.env.*
!.env.example

# build artifacts
frontend/dist
backend/dist

# logs
*.log
npm-debug.log*

# OS / editor
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
